* {
    margin: 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    overflow-x: hidden;
}

html {
    background-color: rgb(3, 3, 49);
}

.d-none {
    display: none;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: blue;
}

header {
    background-color: rgb(4, 4, 139);
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
}

.headline {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 20px
}

.headline img {
    width: 10%;
}

.content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.contentbox {
    background-color: rgb(4, 4, 139);
    width: 50%;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.booktitle {
    display: flex;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bookimg {
    width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
}


.likesection img {
    width: 8%;
    height: fit-content;
}

.likesection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    align-items: center;

}

.likesection h2 {
    margin-left: 10px;
}

.likes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
}

.infosection{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

.infotitle {
    width: 50%;
    margin-left: 10px;
}

.renderinfos {
    width: 50%;
}

.sendimg {
    width: 10%;
}

.commentheadline {
    display: flex;
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
}

.commentsection {
    display: flex;
    width: 98%;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

.users {
    width: 45%;
    margin-top: 10px;
    padding-left: 10px;
}

.comments {
    width: 45%;
    margin-top: 10px;
}


.commentsection::-webkit-scrollbar {
    width: 0.5em;
}

.commentsection::-webkit-scrollbar-track {
    background: rgb(1, 1, 59);
    border-radius: 100vw;
}

.commentsection::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background: blue;
}
