* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: JETSansDigital, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
}



.d-none {
  display: none !important;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  box-shadow: 0px 26px 13px -4px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

header img {
  width: 8%;
}

.logo {
  width: 20%;
}

.logodiv {
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 10px;
}

.options {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.headerimg {
  background: url(./imgs/tükischesgericht.jpg);
  height: 340px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

footer {
  height: 80px;
}

.content {
  flex-wrap: wrap;
  display: flex;
  height: auto;
}

.leftside {
  width: 70%;
}

.basket-section {
  position: sticky;
  width: 30%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: 0;
  left: 100%;
  box-sizing: border-box;
  border-left: 1px solid rgba(128, 128, 128, 0.274);
  box-shadow: -13px 0px 18px 0px rgba(0, 0, 0, 0.1);
}

.basket-header {
  margin-top: 40px;
  font-weight: 700;
  font-size: 28px;
}

/* einstellungen für den switch bereich */
.switch {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 60px;
  margin-top: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
}

.slider:before {
  position: absolute;
  content: "";
  height: 54px;
  width: 50%;
  left: 4px;
  opacity: 0.7;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 30px;
}

.slider-text-left,
.slider-text-right {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: black;
  font-weight: 700;
  z-index: 1;
}

.text-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

input:checked + .slider {
  background-color: #ccc;
}

input:checked + .slider:before {
  transform: translateX(95%);
}

.slider img {
  width: 30px;
  height: auto;
}

/* ende vom switch bereich*/

.basket-logo {
  width: 10%;
}

.basketempty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 0px 40px 0px;
  text-align: center;
}

.headbar {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.headsection {
  height: fit-content;
  width: 100%;
  position: relative;
}

.sitelogo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(./Logo/man.png);
  background-size: contain;
}

.bordersitelogo {
  background-color: white;
  border: 0.5px solid rgba(128, 128, 128, 0.459);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 120px;
  margin-top: -50px;
}

.title-like {
  display: flex;
  justify-content: space-between;
  margin: 20px 120px 0px;
  align-items: center;
}

.rating {
  margin: 20px 120px 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.star {
  width: 20px;
  height: 20px;
}

.category {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: sticky;
  top: 0;
  left: 0;
  width: 79%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.274);
  box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.1);
  padding: 0px 120px 0px;
}

.minprice {
  margin: 0px 120px 20px;
}

.btn img {
  width: 80%;
}

.btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(245, 245, 245);
  border: none;
}

.categorylist {
  width: 80%;
  height: 40px;
}

.btn-long {
  border-radius: 40px;
  height: 100%;
  padding: 0px 10px 0px;
  font-weight: 700;
  border: none;
  background-color: white;
}

.btn-long:hover {
  background-color: rgb(245, 245, 245);
}

.btn-long:focus {
  background-color: black;
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(235, 233, 232);
}

.long {
  border-radius: 40px;
  width: 120px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.long img {
  width: 15%;
}

.about-like {
  display: flex;
  gap: 10px;
}

.heart {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
}

.heart:hover {
  background-color: rgb(235, 233, 232);
  cursor: pointer;
}

.heart img {
  width: 70%;
}

.infoicon {
  width: 50px;
}

.test {
  background-color: red;
  height: 200px;
  width: 200px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.menus {
  width: 100%;
  margin:0
}

.minimumvalue {
  display: flex;
  align-items: center;
  gap: 6px;
}

.minimumvalue img {
  width: 2%;
}
