#maschine1 { /* SM - */
    width: 5%;
    height: 18%;
    left: 18%;
    top: 7%;
}

#maschine2 { /* SM 12 */
    width: 4%;
    height: 20%;
    left: 24%;
    top: 7%;
}

#maschine3 { /* SM 11 */
    width: 4%;
    height: 18%;
    left: 29%;
    top: 7%;
}

#maschine4 { /* SM 10 */
    width: 6%;
    height: 20%;
    left: 33%;
    top: 7%;
}

#maschine5 { /* SM 9 */
    width: 4%;
    height: 20%;
    left: 44%;
    top: 7%;
}

#maschine6 { /* SM 8 */
    width: 4%;
    height: 20%;
    left: 48%;
    top: 7%;
}

#maschine7 { /* SM 101 */
    width: 5%;
    height: 18%;
    left: 53.8%;
    top: 7%;
}

#maschine8 { /* SM 22 */
    width: 4%;
    height: 17%;
    left: 58.8%;
    top: 7%;
}

#maschine9 { /* SM 5 */
    width: 4%;
    height: 19%;
    left: 64.8%;
    top: 7%;
}

#maschine10 { /* SM 4 */
    width: 4%;
    height: 19%;
    left: 68.8%;
    top: 7%;
}

#maschine11 { /* SM 3 */
    width: 4%;
    height: 19%;
    left: 74.8%;
    top: 7%;
}

#maschine12 { /* SM 2 */
    width: 4%;
    height: 19%;
    left: 78.8%;
    top: 7%;
}

#maschine13 { /* SM 14 */
    width: 4%;
    height: 13%;
    left: 85%;
    top: 7%;
}

#maschine14 { /* SM 14 */
    width: 4%;
    height: 13%;
    left: 89%;
    top: 7%;
}

#maschine15 { /* SM 119 */
    width: 4%;
    height: 14%;
    left: 95%;
    top: 7%;
}

#maschine16 { /* SM 138 */
    width: 4%;
    height: 14%;
    left: 95%;
    top: 22%;
}

#maschine17 { /* SM 146 */
    width: 4%;
    height: 14%;
    left: 95%;
    top: 37%;
}

#maschine18 { /* SM 1 */
    width: 7%;
    height: 6%;
    left: 90%;
    top: 60%;
}

#maschine19 { /* SM 1 */
    width: 7%;
    height: 6%;
    left: 90%;
    top: 66%;
}

#maschine20 { /* SM 1 */
    width: 7%;
    height: 6%;
    left: 90%;
    top: 72%;
}

#maschine21 { /* SM 106 */
    width: 4%;
    height: 10%;
    left: 95%;
    top: 85%;
}

#maschine22 { /* SM 6 */
    width: 4%;
    height: 19%;
    left: 78%;
    top: 72%;
}

#maschine23 { /* SM 13 */
    width: 5%;
    height: 19%;
    left: 70.8%;
    top: 65%;
}

#maschine24 { /* SM 15 */
    width: 4%;
    height: 19%;
    left: 66.7%;
    top: 65%;
}

#maschine25 { /* SM 7 */
    width: 4%;
    height: 17%;
    left: 60.8%;
    top: 65%;
}

#maschine26 { /* SM 17 */
    width: 4%;
    height: 20%;
    left: 56.8%;
    top: 65%;
}

#maschine27 { /* SM 18 */
    width: 4%;
    height: 20%;
    left: 50.8%;
    top: 65%;
}

#maschine28 { /* SM 19 */
    width: 4%;
    height: 20%;
    left: 46.7%;
    top: 65%;
}

#maschine29 { /* SM 50 */
    width: 5%;
    height: 17%;
    left: 40%;
    top: 65%;
}

#maschine30 { /* SM 21 */
    width: 5%;
    height: 20%;
    left: 33%;
    top: 65%;
}

#maschine31 { /* SM 94 */
    width: 7%;
    height: 19%;
    left: 25%;
    top: 65%;
}

#maschine32 { /* SM 115 */
    width: 4%;
    height: 16%;
    left: 19%;
    top: 65%;
}

#maschine33 { /* SM 143 */
    width: 6%;
    height: 19%;
    left: 10%;
    top: 65%;
}

#maschine34 { /* SM - */
    width: 6%;
    height: 15%;
    left: 40%;
    top: 40%;
}
