
    <header>
        <img src="./img/logo.png" alt="Kochwelt-Logo" class="logo-header">
        <img src="./img/logo_small.png" alt="Kochwelt-Logo" class="logo-header-small">
        <nav id="regular-menu" class="menu-desktop">
            <a href="#">Start</a>
            <a href="#">Rezept des Tages</a>
            <a href="#">Kontakt</a>
            <a href="#">Impressum</a>
        </nav>

        <nav id="burger-menu" class="menu-mobile">
            <img src="./img/header/burger-menu.svg" alt="Burger-Menu" class="menu-btn" onclick="toggleMenu()">
            <div id="wrapper" class="wrapper">
                <div id="nav-mobile" class="nav-mobile d-none">
                    <a href="#">Start</a>
                    <a href="#">Rezept des Tages</a>
                    <a href="#">Kontakt</a>
                    <a href="#">Impressum</a>
                </div>
            </div>
        </nav>
    </header>
   