* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.above {
  height: 50%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(153, 153, 153);
}

.maschine-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid grey;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: #dfdede;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.maschines {
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 10%;
  margin: 10px;
  border: 1px solid #ccc;
  background-color: rgb(209, 207, 207);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.maschines:hover {
  background-color: rgb(243, 239, 239);
  transform: scale(1.05);
}

.below {
  height: 50%;
  width: 100%;
  display: flex;
  padding: 20px;
  background-color: #f0f0f0;
  -webkit-box-shadow: inset 0px 20px 43px -20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0px 20px 43px -20px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 20px 43px -20px rgba(0, 0, 0, 0.7);
}

.left {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.left {
  background-color: #e0e0e0;
  border-radius: 10px;
}

.middle {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  width: 35%;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.maschineheader {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.textarea {
  width: 100%;
  height: 50%;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
  outline: none;
  transition: border-color 0.3s ease;
}

.textarea:focus {
  border-color: #007bff;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.checkboxes {
  display: flex;
  align-items: center;
  font-size: 18px;
}

input[type="checkbox"] {
  width: 50px;
  height: 50px;
}

input[type="checkbox"]:focus {
  outline: 2px solid #007bff;

}

.clicked {
  border: 3px solid rgb(2, 248, 56)
}

.auftragliste {
  width: 100%;
  height: 350px;
  border: 1px solid rgba(0, 0, 0, 0.233);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  overflow-y: scroll;
}

.orders {
  padding: 16px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.orders ul {
  border: 1px solid grey;
  padding: 8px;
  border-radius: 10px;
}

.machine-card-container {
  background-color: rgba(128, 128, 128, 0.26);
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  position: fixed;
  box-sizing: border-box;
  top: 0;
}

.d-none {
  display: none;
}

p {
  font-weight: 900;
}

span {
  font-weight: 300;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.found-background-color {
  background-color: green;
}

.machine-card {
  width: 80%;
  height: 80%;
  position: absolute;
  border-radius: 30px;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  display: flex;
  font-size: 25px;
  flex-direction: column;
  padding: 16px;
  background-color: rgb(235, 235, 235);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.calulator-card {
  width: 80%;
  height: 80%;
  position: absolute;
  border-radius: 30px;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  display: flex;
  font-size: 25px;
  flex-direction: column;
  padding: 16px;
  background-color: rgb(235, 235, 235);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.search-section-calc {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.search-section-calc button {
  width: 32px;
  height: 32px;
  border: unset;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
}

.search-section-calc button:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.479);
}

.calulator-card input {
  border: unset;
  border-radius: 10px;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  min-width: 200px;
}

.close-btn {
  align-self: flex-end;
  padding: 8px;
}

.close-btn:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.machine-card h1 {
  align-self: flex-end;
  cursor: pointer;
  padding: 4px;
}

.machine-card h1:hover {
  background-color: rgba(128, 128, 128, 0.349);
  border-radius: 10px;
  padding: 4px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.footer button {
  padding: 8px;
  font-size: 21px;
  border-radius: 10px;
  border: unset;
  background-color: rgba(73, 73, 73, 0.205);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.footer button:hover {
  background-color: grey;
  cursor: pointer;
}


.all-card-infos {
  display: flex;
  flex-direction: column;
}

.line-1,
.line-2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid black;
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order:hover {
  background-color: rgba(128, 128, 128, 0.432);
  cursor: pointer;
}

.machine-card-container input {
  width: 100px;
  height: 30px;
  font-size: 24px;
}

.calc-header {
  display: flex;
  gap: 21px;
  align-items: center;
}

.input-search {
  border-radius: 10px;
  height: 32px;
  font-size: 21px;
  padding: 8px;
}

.right button {
  border: unset;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.delete-btn:hover {
  background-color: rgba(255, 0, 0, 0.637)
}

.amount-btn:hover {
  background-color: rgba(0, 0, 255, 0.158);
}

.btn-container {
  display: flex;
  gap: 16px;
}